


#about-button:hover, #portfolio-button:hover {
        transform: scale(2);

}

#about-button:active, #portfolio-button:active {
    font-size: 20px;
    animation-duration: 2s;
}

/* #about-button:active, #portfolio-button:active {
    font-size: 3em;
} */

/* #portfolio-button:hover {
    transform: scale(2);
} */

/* #portfolio-button:active {
    font-size: 3em;
} */
